Cython==3.0.8,
pydot==1.4.2,
PySDD==0.2.11,
PySMT==0.9.6.dev53,
dd @ git+https://github.com/masinag/dd.git#egg=main,
allsat_cnf @ git+https://github.com/masinag/allsat-cnf@main,
GitPython>=3.1.44,
python-dotenv==1.0.1